body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.navbar {
    /* list-style: none; */
    margin: 0;
    padding:0;
    /* float: left; */
    /* display: block; */
    /* text-align: center; */
    /* padding: 14px 16px; */
    background-color: rgb(51, 104, 172);
}

.nav {
    float: left; 
}

.navlink {
    list-style: none;
    /* justify-content: space-around; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 14px 16px;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: White;
    /* position: fixed; */
    top: 0;
    width: 100%;
  }

#logo {
    width: 125px;
}

.login {
    text-align: center;

}

.page {
    padding-top: 100px;
}


.myhabit {
    width: 200px;
    border: 15px solid rgb(70, 0, 128);
    padding: 50px;
    margin: 20px;
}

.dropdown {
    min-width: 160px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding: 30px
}

/* .spacing {
    padding: 30px;
    justify-content: space-between;
} */